@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
.App {
  text-align: center;
}

.container > .row {
  margin: auto;
}

.container-fluid > .row {
  margin: auto;
}

.alert-warning {
  color: #933913;
  background-color: #ffdf77;
  border-color: #ffdf77;
}
.btn-primary {
  color: #fff;
  background-color: #f55f20;
  border-color: #f55f20;
}
.orange-spinner {
  color: #fbb124;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #f88f63;
  border-color: #dd561d; /*set the color you want here*/
}

.alert-orange {
  color: #fff;
  background-color: #fa8223;
  border-color: #fa8223;
}

html,
body,
#root {
  font-family: "Lato", sans-serif !important;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
