.orange-outline-info {
  color: #fd9a24;
  border-color: #fd9a24;
}

.orange-outline-info:hover,
.orange-outline-info:focus,
.orange-outline-info.active,
.orange-outline-info:active {
  color: #fff;
  border-color: #dd561d;
  background-color: #dd561d;
}
#searchOverlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

#searchOverlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
